**/*.js
*.js
typings
src
test
bundled
build
temp
coverage
docs
wiki
gulpfile.js
bower.json
karma.conf.js
tsconfig.json
typings.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
tslint.json
wallaby.js
.travis.yml
.gitignore
.vscode
.typingsrc

# tests and ts

inversify/*-test.js
inversify/*-test.ts
inversify/*-tests.js
inversify/*-tests.ts

inversify-logger-middleware/*-test.js
inversify-logger-middleware/*-test.ts
inversify-logger-middleware/*-tests.js
inversify-logger-middleware/*-tests.ts

inversify-binding-decorators/*-test.js
inversify-binding-decorators/*-test.ts
inversify-binding-decorators/*-tests.js
inversify-binding-decorators/*-tests.ts
